:root {
    font-family: Arial, Helvetica, sans-serif;
    --primaryColor: red;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

ul li {
    text-align: center;
    gap: 10px;
    padding: 10px 10px 10px 10px;
    transition: all 0.3s ease;
}

li:hover {
    scale: 1.5;
}

li:not(:hover) {
    scale: 1.0;
}

.nav-bar {
    background-color: rgba(0, 0, 0, 0,);
    color: bisque;
}

.nav-bar-content {
    position: relative;
    left: -200px;
    width: 150px;
    display: flex;
    flex-direction: column;
    background-color: bisque;
    margin: 2px 2px 2px 2px;
    transition: all .3s ease;
}

.nav-bar-content > div > a {
    display: flex;
    align-items: center;
}

.nav-bar-content > div > a:hover {
    color: white;
}

.nav-bar-content[data-open = "true"] {
    left: 0px;
}

.nav-bar-content[data-open = "false"] {
    left: -200px;
}

.mask {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.2s ease;
}

.mask[data-open = "true"] {
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 30px 30px 30px;
}

#file-contents {
    overflow-y: auto;
    min-width: 400px;
    max-width: fit-content;
    min-height: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 30px;
    padding: 40px;
    border: solid black 5px;
    border-radius: 5px;

}

#file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    overflow-y: auto;
    min-width: 100px;
    max-width: 200px;
    min-height: 400px;
    max-height: 400px;
    margin: 30px;
    padding: 40px;
    border: solid black 5px;
    border-radius: 5px;
}

#input-file-form {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input-file-label {
    cursor: pointer;
    border: solid black 5px;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.5s ease;
}

#input-file-label:hover {
    scale: 1.5;
}

#input-file-label:not(:hover) {
    scale: 1.0;
}

#spacer {
    padding: 10px;
}